/*
* ITCSS information
*
* 1. Tools - Mixins and functions for SASS.
* 2. Settings - Global variables for SASS.
* 3. Generic - Vendor styles.
* 4. Base - Elements with no classes and IDs, eg typography.
* 5. Objects - Code for things like layout and structure.
* 6. Components - Styling for modules of code such as an accordion.
* 7. Trumps - Style overrides.
*
*/

// Tools
@import 'tools/functions';
@import 'tools/mixins';

// Settings
@import 'settings/variables';

// Generic
@import "../../node_modules/normalize.css/normalize";
@import '../../node_modules/sass-mq/mq.scss';
@import '../../node_modules/susy/sass/susy.scss';

// Base
@import 'base/boxsizing';
@import 'base/elements';
@import 'base/typography';

// Objects
@import 'objects/container';

// Components
@import 'components/svgsprite';
@import 'components/header';
@import 'components/footer';
@import 'components/grid-test';

// Trumps
@import 'trumps/color';
@import 'trumps/text';
@import 'trumps/spacing';
@import 'trumps/visibility';
@import 'trumps/print';
